<div class="wrapper">
    <div class="header">
        <div class="title"> DEINE INSTAGRAM CHATS </div>
        <div class="article"> <a> Mit diesem Programm kannst du deine Instagram-Chats (message.jason Datei) lesbar
                machen. So sparst du dir ewiges Aufwärts-Scrollen auf Instagram und kannst deine Nachrichten als
                Erinnerungen archivieren. </a> </div>

        <input type="file" (change)="handleFileInput($event)" webkitdirectory directory *ngIf="!folderSelected" />
        <ul *ngIf="folderSelected">
            <li *ngFor="let file of files">
                <div [routerLink]="['/chat', file.id]">
                    {{file.fileName}}
                </div>
            </li>
        </ul>
    </div>
    <div class="footer">
        Martin und Oli
    </div>
</div>