.scroll-element{
    position: fixed;
    bottom: 10px;
    border-radius: 50%;
}

.toTop{
    right: 30px;
}

.toBottom{
    right: 60px;
}

.change{
    position: fixed;
    top: calc(50% - 20px);
    background: white;
    border-radius: 50%;
}

.change-left{
    left: 10px;
}

.change-right{
    right: 10px;
}